<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>


</head>

<body>
    <h1>Autocomplete</h1>

    {{ form.autocomplete.label }} : {{ form.autocomplete }}

    
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/countries",
                success: function (response) {
                    console.log("response 200", response["countries"])
                    console.log("response 200", response)
                    $("#country_autocomplete").autocomplete({ 
                        source: response["countries"],
                        minLength: 2
                    })


                }
            })
        })
    </script>

</body>

</html>